/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

 .container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


h1 {
  text-align: center;
  color: #333333;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #555555;
  font-family: 'Roboto', sans-serif;
}

input[type="text"],
input[type="password"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  background-color: #f8f8f8;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #333333;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
 
}

button:hover {
  background-color: #555555;
}

.body {
  font-family: 'Roboto', sans-serif;
}

.banner {
  flex: 1 1 100%;
  padding: 20px;
  background-color:  #f3eced;
}

.goal-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.goal-info p {
  flex: 1;
  margin-right: 20px;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
}

.banner h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.sidebar {
  width: 200px;
  padding: 20px;
  background-color: #f3eced;
}

.sidebar h2 {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 5px;
}

.main-body {
  flex: 1;
  padding: 20px;
}

.main-body h2 {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}

.meal-list {
  list-style-type: none;
  padding: 0;
}

.meal-list li {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.meal-list input[type="checkbox"] {
  margin-right: 5px;
}

.meal-list label {
  display: flex;
  align-items: center;
}

.info-box {
  display: flex;
  flex-wrap: wrap;
}

.info-item {
  flex: 0 0 20%;
  padding: 10px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  font-family: 'Roboto', sans-serif;
}

.image-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


.button-container {
  margin-top: 50px;
}

body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}

.button2 {
  display: inline-block;
  padding: 12px 24px;
  background-color: #ff6f00;
  color: #fff;
  width: 100px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button2:hover {
  background-color: #e65100;
}

.button2-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button3-container {
  display: flex;
}

.button3 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff6f00;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}
