 <h1>Welcome to FoodCoach!</h1>
  
  <div class="image-container">
    <img src="/assets/nutrition.jpg" alt="Nutrition Image">
  </div>
  
  <div class="button2-container">
    <a class="button2" href="/user_sign_up">Sign Up</a>
  </div>
  <div class="button2-container">
    <a class="button2" href="/user_sign_in">Sign In</a>
  </div>

